<?xml version="1.0"?>
<launch>
<group ns="/bat_swarm">
    <group ns="bat_1">
      <param name="robot_description" textfile="$(find bat_algo)/urdf/custom_bot.urdf" />
      <rosparam command="load" file="$(find bat_algo)/config/laser_controller.yaml" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false"  />
      <node name="controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
      <!-- <node name="laser_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn laser_controller joint_state_controller" respawn="false" output="screen"/> -->
    </group>
    <group ns="bat_2">
      <param name="robot_description" textfile="$(find bat_algo)/urdf/custom_bot.urdf" />
      <rosparam command="load" file="$(find bat_algo)/config/laser_controller.yaml" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false"  />
      <node name="controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
      <!-- <node name="laser_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn laser_controller joint_state_controller" respawn="false" output="screen"/> -->
    </group>
    <group ns="bat_3">
      <param name="robot_description" textfile="$(find bat_algo)/urdf/custom_bot.urdf" />
      <rosparam command="load" file="$(find bat_algo)/config/laser_controller.yaml" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false"  />
      <node name="controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
      <!-- <node name="laser_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn laser_controller joint_state_controller" respawn="false" output="screen"/> -->
    </group>
</group>
</launch>