<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="physics" value="ode"/>
    <!-- <arg name="world_name" value="$(find bat_algo)/worlds/maze_map_static.world"/> -->
    <!-- <arg name="world_name" value="$(find bat_algo)/worlds/custom_maze_2.world"/> -->
    <!-- <arg name="world_name" value="$(find bat_algo)/worlds/willow_garage.world"/> -->
    <!-- more default parameters can be changed here -->
  </include>

  <!-- <include file="$(find bat_algo)/launch/controller.launch" /> -->

  <group ns="/bat_swarm">
    <group ns="bat_1">
      <arg name="robot_name" default="bat_1"/>
      <arg name="color" default="Red"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -1 -z 0.041 " />
    </group>
    <group ns="bat_2">
      <arg name="robot_name" default="bat_2"/>
      <arg name="color" default="Green"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -2 -z 0.041 " />
    </group>
    <!-- <group ns="bat_3">
      <arg name="robot_name" default="bat_3"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -3 -z 0.041 " />
    </group>
    <group ns="bat_4">
      <arg name="robot_name" default="bat_4"/>
      <arg name="color" default="Yellow"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -4 -z 0.041 " />
    </group>
    <group ns="bat_5">
      <arg name="robot_name" default="bat_5"/>
      <arg name="color" default="Grey"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -5 -z 0.041 " />
    </group>
    <group ns="bat_6">
      <arg name="robot_name" default="bat_6"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -6 -z 0.041 " />
    </group>
    <group ns="bat_7">
      <arg name="robot_name" default="bat_7"/>
      <arg name="color" default="Indigo"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -7 -z 0.041 " />
    </group>
    <group ns="bat_8">
      <arg name="robot_name" default="bat_8"/>
      <arg name="color" default="Orange"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -8 -z 0.041 " />
    </group>
    <group ns="bat_9">
      <arg name="robot_name" default="bat_9"/>
      <arg name="color" default="Purple"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -9 -z 0.041 " />
    </group>
    <group ns="bat_10">
      <arg name="robot_name" default="bat_10"/>
      <arg name="color" default="White"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y -10 -z 0.041 " />
    </group>
    <group ns="bat_11">
      <arg name="robot_name" default="bat_11"/>
      <arg name="color" default="Red"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 1 -z 0.041 " />
    </group>
    <group ns="bat_12">
      <arg name="robot_name" default="bat_12"/>
      <arg name="color" default="Green"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 2 -z 0.041 " />
    </group>
    <group ns="bat_13">
      <arg name="robot_name" default="bat_13"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 3 -z 0.041 " />
    </group>
    <group ns="bat_14">
      <arg name="robot_name" default="bat_14"/>
      <arg name="color" default="Yellow"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 4 -z 0.041 " />
    </group>
    <group ns="bat_15">
      <arg name="robot_name" default="bat_15"/>
      <arg name="color" default="Grey"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 5 -z 0.041 " />
    </group>
    <group ns="bat_16">
      <arg name="robot_name" default="bat_16"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 6 -z 0.041 " />
    </group>
    <group ns="bat_17">
      <arg name="robot_name" default="bat_17"/>
      <arg name="color" default="Indigo"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 7 -z 0.041 " />
    </group>
    <group ns="bat_18">
      <arg name="robot_name" default="bat_18"/>
      <arg name="color" default="Orange"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 8 -z 0.041 " />
    </group>
    <group ns="bat_19">
      <arg name="robot_name" default="bat_19"/>
      <arg name="color" default="Purple"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 9 -z 0.041 " />
    </group>
    <group ns="bat_20">
      <arg name="robot_name" default="bat_20"/>
      <arg name="color" default="White"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -5 -y 10 -z 0.041 " />
    </group>
    <group ns="bat_21">
      <arg name="robot_name" default="bat_21"/>
      <arg name="color" default="Red"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -1 -z 0.041 " />
    </group>
    <group ns="bat_22">
      <arg name="robot_name" default="bat_22"/>
      <arg name="color" default="Green"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -2 -z 0.041 " />
    </group>
    <group ns="bat_23">
      <arg name="robot_name" default="bat_23"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -3 -z 0.041 " />
    </group>
    <group ns="bat_24">
      <arg name="robot_name" default="bat_24"/>
      <arg name="color" default="Yellow"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -4 -z 0.041 " />
    </group>
    <group ns="bat_25">
      <arg name="robot_name" default="bat_25"/>
      <arg name="color" default="Grey"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -5 -z 0.041 " />
    </group>
    <group ns="bat_26">
      <arg name="robot_name" default="bat_26"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -6 -z 0.041 " />
    </group>
    <group ns="bat_27">
      <arg name="robot_name" default="bat_27"/>
      <arg name="color" default="Indigo"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -7 -z 0.041 " />
    </group>
    <group ns="bat_28">
      <arg name="robot_name" default="bat_28"/>
      <arg name="color" default="Orange"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -8 -z 0.041 " />
    </group>
    <group ns="bat_29">
      <arg name="robot_name" default="bat_29"/>
      <arg name="color" default="Purple"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -9 -z 0.041 " />
    </group>
    <group ns="bat_30">
      <arg name="robot_name" default="bat_30"/>
      <arg name="color" default="White"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y -10 -z 0.041 " />
    </group>
    <group ns="bat_31">
      <arg name="robot_name" default="bat_31"/>
      <arg name="color" default="Red"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 1 -z 0.041 " />
    </group>
    <group ns="bat_32">
      <arg name="robot_name" default="bat_32"/>
      <arg name="color" default="Green"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 2 -z 0.041 " />
    </group>
    <group ns="bat_33">
      <arg name="robot_name" default="bat_33"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 3 -z 0.041 " />
    </group>
    <group ns="bat_34">
      <arg name="robot_name" default="bat_34"/>
      <arg name="color" default="Yellow"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 4 -z 0.041 " />
    </group>
    <group ns="bat_35">
      <arg name="robot_name" default="bat_35"/>
      <arg name="color" default="Grey"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 5 -z 0.041 " />
    </group>
    <group ns="bat_36">
      <arg name="robot_name" default="bat_36"/>
      <arg name="color" default="Blue"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 6 -z 0.041 " />
    </group>
    <group ns="bat_37">
      <arg name="robot_name" default="bat_37"/>
      <arg name="color" default="Indigo"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 7 -z 0.041 " />
    </group>
    <group ns="bat_38">
      <arg name="robot_name" default="bat_38"/>
      <arg name="color" default="Orange"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 8 -z 0.041 " />
    </group>
    <group ns="bat_39">
      <arg name="robot_name" default="bat_39"/>
      <arg name="color" default="Purple"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 9 -z 0.041 " />
    </group>
    <group ns="bat_40">
      <arg name="robot_name" default="bat_40"/>
      <arg name="color" default="White"/>
      <param name="robot_description" command="$(find xacro)/xacro $(find bat_algo)/urdf/small_bot.xacro color:='$(arg color)' robot_name:='$(arg robot_name)'" />
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model $(arg robot_name) -x -7 -y 10 -z 0.041 " />
    </group> -->
  </group>
</launch>